* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  padding: 2rem;
}

/*
    * NAVIGATION STYLE
*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.welcome {
  font-size: 2rem;
  font-weight: 500;
}

.logo {
  height: 5rem;
}

.login {
  display: flex;
}

.login__input {
  border: none;
  padding: 0.5rem 2rem;
  font-family: inherit;
  color: inherit;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 10rem;
  width: 12rem;
  margin-right: 1rem;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px solid #bbb;
}

.login__input::placeholder {
  color: #bbb;
}

.login__btn {
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
  font-size: 2.4rem;
}

/*
    * MAIN APP STYLE
*/

.app {
  position: relative;
  max-width: 100rem;

  margin: 4rem auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
}

/*
    * BALANCE
*/
.balance {
  grid-column: 1 / span 2;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  font-size: 3.6rem;
  font-weight: 500;
}

/*
    * MOVEMENTS STYLE
*/

.movements {
  grid-row: 2 / span 3;
  background-color: #fff;
  overflow: scroll;
  border-radius: 1rem;
}

.movements__row {
  padding: 2.5rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movement__type {
  padding: 0.2rem 1rem;
  color: #fff;

  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 10rem;
  margin-right: 2rem;
}

.movement__type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movement__type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movement__date {
  font-size: 1.2rem;
  color: #888;
  font-weight: 500;
}

.movement__value {
  margin-left: auto;
  font-size: 2rem;
  font-weight: 500;
}

/*
    * SUMMARY
*/
.summary {
  grid-row: 5/6;

  display: flex;
  align-items: baseline;
  margin-top: 1rem;
  padding: 0 0.3rem;
}

.summary__label {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2rem;
  font-weight: 400;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

.btn--sort {
  border: none;
  background: none;

  margin-left: auto;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}

/*
    * OPERATIONS
*/
.operation {
  padding: 3rem 4rem;
  border-radius: 2rem;
  color: #444;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--loan {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
  color: #444;
  font-weight: 600;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);

  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #444;
  padding: 0.2rem 1rem;
  border-radius: 0.8rem;
  transition: all 0.3s;
}

/* Exceptions for interest */
.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
  grid-row: 2;
}
/* End exceptions */

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  text-align: center;
  font-size: 1.3rem;
}

.form__btn {
  border: none;
  background-color: #fff;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
  margin-top: 2rem;
  text-align: right;
  padding: 1rem;

  font-size: 1.4rem;
}

.timer {
  font-weight: 600;
}
